body {
    background-color: black;
    text-align: center;
}
h1 {
    color: aquamarine;
}
.images {
    width: 200px;
}
h2 {
    color: aquamarine;
}
#mycarousel {
    background-color: antiquewhite;
}
#mycarousel img {
    margin-top: 20px;
    width: 200px;
}
.image {
    width: 200px;
    height: 120px;
    margin-bottom: 20px;
    margin-left: 20px;
}